body{
    padding: 3em 6em;
}
div {
    border: 1px solid black;
    box-sizing: border-box;
    float:left;
    height: 100%;
    text-align: center;
    width: 33.33%;
}

#header, #footer {
    background-color: rgb(238, 220, 51);
    text-align: center;
    border: 1px solid black;
    width: 100%;
}

#main{
    height: 31.2em;
    width: 100%;
    background-color: white;
}
